name: "Unittest"

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
      - name: setup python
        run: |
          sudo apt-get install python3
      - name: install project
        run: pip install -e .
      - name: run tests
        run: |
          python test/circumference_of_circle_test.py